/* ESTILO NAVBAR */
#header {
    background-color: #ffff;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
}

/* ESTILO LOGO */ 
img {
    width: 100px;
    height: 100px;
}

/* ESTILO CONTENEDOR PRINCIPAL */
.container-main {
    background-color: #7392B7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    gap: 20px;
    height: 900px;
}

/* ESTILO PARA CONTENEDOR HIJO DE TAREAS */
.container-task {
    height: max-content;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 15px; 
    border-radius: 10px;
    width: 350px;
}

/* ESTILOS PARA EL CONTENEDOR DE AGREGAR TAREAS */
#task-add{
    background-color: #759EB8;
    color: #ffff;
    border: solid 2px #ffff;
    border-radius: 5px;
}

/* ESTILO PARA LOS TITULOS DE LAS TAREAS */
.container-task .titulo-task{
    display: flex;
    justify-content: center; /* Ajusta horizontalmente */
    align-items: center; /* Ajusta verticalmente */
    width: 100%; /* Ancho del 100% */
    flex-shrink: 0;
    text-align: center; /* Alinea el texto en el centro */
    padding-bottom: 10px; /* Separación entre el titulo y el contenido de la carta */
}


/* ESTILO PARA EL FORMULARIO DE LAS TAREAS */ 
#task-add form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
    width: 100%;
}
/* ESTILO PARA CUANDO SE CREEN LAS TAREAS */
.tarjeta_obj {
    background-color: #759EB8;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    width: 200;
    box-sizing: border-box;
}


/* ESTILO PARA TAREAS EN CURSO */
#task-curso {
    background-color: #9AD4D6;
    border-radius: 8px;
    color: #ffff;
}

/* ESTILO PARA TAREAS PENDIENTES */
#task-pend {
    background-color: #3066BE;
    border-radius: 8px;
    color: #ffff;
}

/* ESTILO PARA TAREAS FINALIZADAS */
#task-fin {
    background-color: #101935;
    color: #ffff;
    border-radius: 8px;
}


